@{
    ViewData["Title"] = "Password Changed";
    ViewData["SubTitle"] = "Your password has been updated.";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="text-center">
    <p class="lead">Your password has been successfully changed.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary rounded-pill px-4">Return to Home</a>
</div>