@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="text-center">
        <h1 class="display-4">Welcome to Restaurant Management System</h1>
        <p>Use this system to manage your restaurant.</p>
    </div>
    <div class="text-center">
        <img src="~/images/restaurant.jpg" class="img-fluid" alt="Restaurant" />
    </div>
</div>